<IfModule mod_rewrite.c>
RewriteEngine On
# Force HTTPS and WWW
   	RewriteRule ^j$ j.php [L]
   	RewriteRule ^j/$ j.php [L]
	RewriteRule ^cori$ cori.php [L]
	RewriteRule ^cori/$ cori.php [L]
</IfModule>
